
<!DOCTYPE html>
<html lang="he">

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles5.css')}}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>מזג אוויר שבועי</title>
</head>

<body>
    <div class="website">
        <header>
            <h1>מזג אויר לימים הקרובים</h1>
            <h2 id="power">power by weatherbit</h2>
        </header>
        <main>
            <h3> בבקשה בחר עיר ומספר ימים שברצונך להציג:</h3>
            <form  action="#" method="GET">
                <label for="city">עיר:</label>
                <input type="text" id="city" name="city" placeholder="לדוגמה: תל אביב" required/>
                <label for="date-start">ימים:</label>
                <input type="number" id="date-start" name="day" placeholder="מספר הימים המקסימלי הוא 16" min='1' max='16' required/>
                <div id="buttons">
                    <input type="submit" value="הצג" />
                    <a href="/"> נקה תוצאות</a>
                </div>
            </form>
            {% block content %} {% endblock %}

        </main>

    </div>

</body>

</html>
